{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit "{{ post['title'] }}"{% endblock %}</h1>
{% endblock %}

{% block carousel %}{% endblock %}

{% block content %}
  <form method="post">  
    <div class="mb-3">
    <label for="title" class="form-label">Email address</label>
    <input name="title" class="form-control" id="title" placeholder="Blog title" value="{{ request.form['title'] or post['title'] }}" required>
  </div>
  <div class="mb-3">
    <label for="body" class="form-label">Content</label>
    <textarea name="body" class="form-control" id="body" rows="3">{{ request.form['body'] or post['body'] }}</textarea><br />
    <input type="submit" class="btn btn-success" value="Save">
  </div>
  </form>
  <hr>
  <form action="{{ url_for('blog.delete', id=post['id']) }}" method="post">
    <label for="btn" class="form-label mb-3">Delete Blog</label><br /> 
    <input class="danger" type="submit" id="btn" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}
